In [156]:
# O objetivo dessa atividade era trados os dados da pasta 'tempo.csv'
# As regras eram: 
#    Na coluna aparencia deve conter apenas Sol, Chuva ou Nublado.
#    Na coluna temperatura a temperatura deve estar entre -130 ~ 130 F
#    Na coluna de umidade a umidade deve estar entre 0 ~ 100
#    Na coluna de jogar deve conter apenas sim ou nao

In [157]:
#O arquivo 'tempo.csv' est√° na mesma pasta que essa atividade, agradeco a atencao.

In [158]:
#importando bibliotecas
import pandas as pd
import statistics as sts

In [159]:
#Importando o arquivo 
dataset = pd.read_csv('tempo.csv', sep=';')
#exibindo o arquivo
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [160]:
#tamanho do arquivo
dataset.shape

(14, 5)

In [161]:
#exibindo dados especificos para a identificacao de informacoes vazias.
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [162]:
#Exibindo a coluna 'Umidade' tratar valores nao preenchidos.
dataset.Umidade

0      85.0
1      90.0
2      86.0
3       NaN
4      80.0
5      70.0
6      65.0
7      95.0
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64

In [163]:
#Verificando se tem algum parametro menor do que 0 ou maior do que 100.
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [164]:
#Exibindo a coluna 'Vento' para tratar valores nao preenchidos.
dataset.Vento

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9            NaN
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [165]:
#exibindo valores uteis para tratamento de dados.
dataset['Vento'].describe()

count        13
unique        2
top       FALSO
freq          7
Name: Vento, dtype: object

In [166]:
#exibindo e armazenando a mediana para preencher valores vazios
mediana_umidade = sts.median(dataset['Umidade'])
mediana_umidade

85.5

In [167]:
#alterando valores vazios para a mediana
dataset['Umidade'].fillna(mediana_umidade, inplace=True)

In [168]:
#Verificando se os valores preenchidos foram alterados.
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [169]:
#Identificando os parametros menores do que 0 ou maiores do que 100.
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva           75    200.0   NaN   sim

In [170]:
#Alterando os valores menores do que 0 ou maiores do que 100.
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100), 'Umidade'] = mediana_umidade

In [171]:
#Verificando se os vlaores menores do que 0 ou maiores do que 100 foram alterados.
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [172]:
#Verificando a descricao de umidade novamente.
dataset['Umidade'].describe()

count    14.000000
mean     81.285714
std       9.585073
min      65.000000
25%      71.250000
50%      85.250000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [173]:
#Alterando valores vazios para o valor mais frequente, no caso, a moda.
dataset['Vento'].fillna('FALSO', inplace=True)

In [174]:
#Verificando se todos os valores vazios foram preenchidos.
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [175]:
#Verificando se tem algum valor superior ou inferior a 130 na coluna de 'Temperatura'.
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [176]:
#Verificando qual o valor menor do que -130 e qual o valor maior do que 130.
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [177]:
#Calculando a media do valor menor do que -130 ou maior do que 130.
mediana_temperatura = sts.median(dataset['Temperatura'])
mediana_temperatura

73.5

In [178]:
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana_temperatura

In [179]:
#Verificando se o valor menor do que -130 ou maior do que 130 foi alterado.
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [180]:
#Fazendo a verificacao da descricao para saber se confere a alteracao feita no valor menor do que -130 ou mairo do que 130.
dataset['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [181]:
#Verificando se existem apenas sol, chuva e nublado.
agrupando = dataset.groupby(['Aparencia']).size()
agrupando

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [182]:
#Fazendo a correcao para sol, chuva ou nublado.
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'chuva'

In [183]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao